.btn {
  padding: 1rem 1.5rem;
  width: 300px;
  color: red;
  border: 1px solid currentColor;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1.2em;
}

.btn:hover {
  background: red;
  color: #fff;
}

.btn--back {
  align-self: end;
}
